.contact{
    margin: 20px;
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 1.3rem;
}
.contact p{
    margin: auto 5px;
}

@media only screen and (max-width: 680px) {

    .contact p {
        font-size: 1rem;
        margin: auto 2px;
    }
}
